#Ignore all these files
*.txt
*.dat
*.png
*.pdf
*.eps
*.fits
*.inp
*.out
*.specs
*.rates
*.o
*.mod
*~
*.DS_Store
*.pd
*.pi
*.gp
*.f
*.pd*
*file_parameters_test_grid.txt#
makefile
DEFAULT
'DEFAULT'
fort.8
disk_model
