#Ignore all these files
*.txt
*.dat
*.png
*.pdf
*.eps
*.fits
*.inp
*.out
*.specs
*.rates
*.o
*.mod
*~
*.DS_Store
*.pd
*.pi
*.gp
disk_inputmodel.f
disk_main.f	
disk_model
dvode.f
dvode_drive.f
ismana.f
photo_rates.f
shielding.f
xray_rates.f
zeta_x.f